.Header-page{
    height:10%;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}
.header-heading{
    font-size:30px;
    font-weight:500;
    line-height: 2.5;
}
.navigation-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon{
    margin-left:15px;
    margin-right:15px;
    align-self: center;
}
.log-out-button{
    color:white;
    font-size: 15px;
    border-radius: 20px;
    border:none;
    align-items: center;
    outline: none;
    width:110px;
    height:32px;
    margin-left:15px;
    margin-right: 15px;
    background-color: rgb(98, 28, 162);
}